@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display text-slate-900 dark:text-white bg-background-light dark:bg-background-dark;
  }
}

@layer components {
  .toggle-checkbox:checked {
    @apply right-0 border-primary;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply bg-primary;
  }
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-background-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-surface-border rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
